.form {
  position: relative;
  margin-top: 10px;
  text-align: right;
  z-index: 10000;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #363636;
  border: 1px solid #363636;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #0d1216;
  border-color: #0d1216;
}
